<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Меня зовут Катышев Роман Андреевич и я что то создал.
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>Здраствуйте я создал сайт так как очень охото научится пользоваться этой сложной магией. 
              Вдохновило меня на это всё переезд в другой город, так как хочется найти работу, и работать в этой сфере дальше.
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}